*.dll
*.pdb
*.exe
*.cache
*.props
HRM/.vs/HRM/v16/.suo
*.cache
*.txt
FrontDesk/.vs/FrontDesk/DesignTimeBuild/.dtbcache.v2
FrontDesk/.vs/FrontDesk/v16/.suo
/FrontDesk/.vs/FrontDesk/FileContentIndex
/FrontDesk/.vs/FrontDesk/v17
/FrontDesk/.vs/ProjectEvaluation
/FrontDesk/FrontDesk/bin/Debug/net6.0
/FrontDesk/FrontDesk/obj/Debug/net6.0
/FrontDesk/FrontDesk/obj
/FrontDeskModels/bin/Debug/net6.0
/FrontDeskModels/obj/Debug/net6.0
